/* .root {
  -fx-background-color: "black";
}

#titleLabel {
  -fx-font-size: 60px;
}

#content {
}

.label {
  -fx-font-size: 20px;
  -fx-font-family: "Lucida console";
  -fx-text-fill: "white";
  -fx-alignment: "center";
}

button {
  -fx-cursor: "pointer";
} */
